@charset "UTF-8";
*{margin:0; padding:0;}

#main_box{
	width: 330px;
	margin:auto;

	}
h1{
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
	color: gray;
	/* text-shadow: 2px 2px 2px black; */
}

.visit_box{
	margin: 0 auto;
	width: 330px;
	margin-top:30px;
	box-shadow: 2px 2px 2px black;
	border: 1px solid #0080ff; 
}

.type_content{
	min-height: 100px;/* 최소 높이 */
	height: auto;
}

.type_name{
	background: gray;
	color: white;
}
.type_regdate{
	background: gray;
	color: white;
}